#Ignore all .tmp files in project root
/*.tmp

#Ignore __pycache__ folders
__pycache__/

#Ignore .pytest_cache folders
.pytest_cache/

#Ignore Flask instance folder and session files
instance/
*.session
